.Total{
    display: flex;
    flex: 1;
}

.Total1{

    /* flex: 0.20; */
    margin-left: 260px;}
.Total2{
    
width: 60vw;
}
.Total3{
    
width: 40vw;
}

/* .Sidebar{
}
.Content{
}
.Profile{
} */

@media screen and (max-width: 1024px) {

    .Total1 {
        /* flex: 0.20; */
        margin-left: 0px;
    }

}
